body {
    background-color: #212121;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

#cabecera{
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: blue;
    padding: 5px;
    border: 3px solid black;
    box-shadow: 0px 5px 30px 0px gray ;
    display: flex;
}

#logo{
 width: 80px;
}

#cabecera > p{
    margin-top: 28px;
    margin-left: 10px;
}

#tagline{
    margin-top: 28px;
    margin-left: 70px;
    font-weight: lighter;
}
#container {
    background-color: white;
    width: 70%;
    padding: 0;
    text-align: left;
    border: 2px solid gray;
    margin: 10px auto;
}


#container h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}

footer{
    display: flex;
    background-color: #6D8299;
    justify-content: center;
    justify-content: space-around;
    padding: 5px;
}

footer > a{
    text-decoration: none;
    color: white;
}